# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/.idea.DependencyInjectionContainer.iml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\учеба\СПП\DependencyInjectionContainer\.idea\.idea.DependencyInjectionContainer\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
